%p Ever been sitting around at work, waiting for something to compile, refresh, or just start responding?

%p 
	Ever wondered 
	%strong just how long
	you're waiting?

%p Ever wanted to know what the overall time a day you are *doin' nothin'*?