%h2 Time is money

%p Ever been sitting around at work, waiting for something to compile, refresh, or just start responding?

%p 
	Ever wondered 
	%strong just how long
	you're waiting?

%p 
	All the time that you're spending waiting for computers to respond could be costing you money, and with the help if this site you can track how much it could be costing you. |
	Start the timer when you're waiting, stop it when you're able to get back to work and repeat the process throughout the day. |
	You'll be surprised how much it can add up very quickly.
	
%p
	If you're also interested to work out just how much time you're spending over multiple days feel free to register, |
	and then you can save your sessions to review them down the track (I take security seriously, if you're worried |
	about security check out the source code in github and you'll see that it's encrypted nicely).