.info
	%p Click the big button to start/ stop!
	%input{:type => 'button', :value => 'Go!', :id => 'go'}
	#time
.results
	%p
		Here's your current
		%em Doin' Nothin'
		stats
	#stats
.clear &nbsp