.info
	%p Doin' what?
	%input{:type => 'button', :value => 'I\'m doin\' nothin\'', :id => 'go', :class => 'go'}
	#time
.results
	#chart
	#total
		%a{:href => '#'}
			Caclulate total time
			%em Doin' Nothin'
		%br
		%span
	- if authorized?
		#save
			%a{:href => '#'} Save Session
.clear &nbsp