!!!
%html
	%head
		%title doinnoth.in
		%link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
		/[if lte IE 8]
		:javascript 
			document.createElement('footer');document.createElement('header');
	%body
		#content
			%header
				%h1#title Doin' Nothin'!
			%div#view
				=yield
			%footer
				A
				%a{:href => "http://http://www.sinatrarb.com", :title => "Sinatra"} Sinatra
				\+
				%a{:href => "http://haml-lang.com", :title => "Haml"} Haml
				\+
				%a{:href => "https://github.com/aaronpowell/doinnothin"} GitHub
				\+
				%a{:href => "http://couchdb.apache.org/"} CouchDB
				\+
				%a{:href => "https://cloudant.com/"} CloudAnt
				\+
				%a{:href => "http://newrelic.com/"} New Relic
				\+
				%a{:href => "http://heroku.com"} Heroku
				\ experiment by
				%a{:href => "http://aaron-powell.com"} Aaron Powell
				\.
			
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-20152461-2']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})(); 
		%script{:src => 'http://ajax.microsoft.com/ajax/jquery/jquery-1.5.min.js'}
		%script{:src => '/scripts/stopwatch.js'}
		%script{:src => '/scripts/app.js'}
